__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
venv-scopone/
ENV/
*.sqlite
*.sqlite3
database.sqlite
uvicorn.log
*.log
replays/
.DS_Store
